/* Scrollbar */
::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-thumb {
   border-radius: 40px;
   background-color: rgba(0, 0, 0, 0.15);
   border: 2px solid rgba(0, 0, 0, 0);
   background-clip: padding-box;
   box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
}


::-webkit-scrollbar-button {
   width: 0;
   height: 0;
   display: none;
}

::-webkit-scrollbar-corner {
   background-color: transparent;
}

/* Scroll in Dark Mode */
body.dark ::-webkit-scrollbar-thumb,
body.dark::-webkit-scrollbar-thumb {
   background-color: rgb(255, 255, 255, 0.15);
}

/* Container */
.container {
   max-width: 1550px;
   margin: 0 auto;
   padding: 0 3rem;
}

/* Text Wrapping */
.text-wrap {
   display: inline-block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 1;
}

.text-wrap-2 {
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

/* NProgress Styles */
#nprogress .bar {
   z-index: 9999999999;
   background: #e60023 !important;
   height: 3px;
}

#nprogress .peg {
   box-shadow: 0 0 0 #e60023, 0 0 0 #e60023;
}

#nprogress .spinner .spinner-icon {
   border-top-color: #e60023 !important;
   border-left-color: #e60023 !important;
}

/* Spinner */
.spinner-container {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.spinner-main {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.spinner {
   width: 60px;
   height: 60px;
   border: 10px dotted var(--primary);
   border-radius: 50%;
   display: inline-block;
   box-sizing: border-box;
   animation: rotation 6s linear infinite;
}

.spinner-inner {
   position: absolute;
   width: 26px;
   height: 26px;
   border: 8px dotted var(--primary);
   border-radius: 50%;
   display: inline-block;
   box-sizing: border-box;
   animation: rotationInner 3s linear infinite;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

@keyframes rotationInner {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(-360deg);
   }
}

.card-padding {
   padding: 2.5rem;
}